In [1]:
from datetime import datetime

import numpy as np
import polars as pl
from pathlib import Path
from polars import col, lit
import pandas as pd
from pandas.io.common import get_handle
from tqdm import tqdm

In [2]:
pl.__version__

'0.8.29'

In [3]:
big_csv = Path("./big.csv")
def download_big_data_file():
    
    csv_url = "http://sdm.lbl.gov/fastbit/data/star2002-full.csv.gz"

    if not big_csv.exists():
        with get_handle(csv_url, compression="gzip", mode="r") as fh_in, open(big_csv, "bw") as fh_out:
            fh_out.write(fh_in.handle.buffer.read())

In [4]:
download_big_data_file()

In [5]:
edf = pl.read_csv(str(big_csv), has_headers=False)

In [6]:
edf.get_columns()

[shape: (15857625,)
 Series: 'column_1' [i64]
 [
 	1
 	1
 	1
 	4
 	5
 	3
 	1
 	2
 	0
 	3
 	1
 	0
 	...
 	0
 	0
 	1
 	0
 	0
 	0
 	0
 	0
 	0
 	0
 	0
 	0
 ],
 shape: (15857625,)
 Series: 'column_2' [i64]
 [
 	1613423
 	1613423
 	1613423
 	1613423
 	1613423
 	1613423
 	1613423
 	1613423
 	1613423
 	1613423
 	1613423
 	1613423
 	...
 	2471489
 	2471489
 	2471489
 	2471489
 	2471489
 	2471489
 	2471489
 	2471489
 	2471489
 	2471489
 	2471489
 	2471489
 ],
 shape: (15857625,)
 Series: 'column_3' [i64]
 [
 	807
 	808
 	809
 	810
 	811
 	812
 	813
 	814
 	815
 	816
 	817
 	818
 	...
 	86343
 	86351
 	86352
 	86356
 	86358
 	86360
 	86361
 	86364
 	86366
 	86370
 	86372
 	86375
 ],
 shape: (15857625,)
 Series: 'column_4' [f64]
 [
 	2.0011015222604e7
 	2.0011015222604e7
 	2.0011015222604e7
 	2.0011015222604e7
 	2.0011015222604e7
 	2.0011015222604e7
 	2.0011015222604e7
 	2.0011015222604e7
 	2.0011015222604e7
 	2.0011015222604e7
 	2.0011015222604e7
 	2.0011015222604e7
 	...
 	2.0030208180455e7
 	2.0030208180455e7
 	2.0030208180455e7
 	2.0030208180455e7
 	2.0030208180455e7
 	2.0030208180455e7
 	2.0030208180455e7
 	2.0030208180455e7
 	2.0030208180455e7
 	2.0030208180455e7
 	2.0030208180455e7
 	2.0030208180455e7
 ],
 shape: (15857625,)
 Series: 'column_5' [i64]
 [
 	1613424
 	1613424
 	1613424
 	1613424
 	1613424
 	1613424
 	1613424
 	1613424
 	1613424
 	1613424
 	1613424
 	1613424
 	...
 	2471490
 	2471490
 	2471490
 	2471490
 	2471490
 	2471490
 	2471490
 	2471490
 	2471490
 	2471490
 	2471490
 	2471490
 ],
 shape: (15857625,)
 Series: 'column_6' [i64]
 [
 	4518
 	886
 	638
 	4259
 	3673
 	4707
 	1115
 	678
 	632
 	4364
 	170
 	32
 	...
 	8
 	77
 	81
 	187
 	29
 	57
 	112
 	21
 	233
 	13
 	62
 	42
 ],
 shape: (15857625,)
 Series: 'column_7' [i64]
 [
 	0
 	0
 	0
 	0
 	1
 	0
 	0
 	0
 	0
 	1
 	0
 	0
 	...
 	0
 	0
 	0
 	6
 	0
 	0
 	2
 	0
 	9
 	0
 	1
 	1
 ],
 shape: (15857625,)
 Series: 'column_8' [i64]
 [
 	0
 	0
 	0
 	0
 	0
 	0
 	0
 	0
 	0
 	0
 	0
 	0
 	...
 	0
 	0
 	0
 	0
 	0
 	0
 	0
 	0
 	0
 	0
 	0
 	0
 ],
 shape: (15857625,)
 Series: 'column_9' [i64]
 [
 	654
 	61
 	7
 	1024
 	592
 	655
 	27
 	24
 	14
 	692
 	1
 	0
 	...
 	0
 	2
 	0
 	2
 	0
 	1
 	1
 	0
 	7
 	0
 	0
 	0
 ],
 shape: (15857625,)
 Series: 'column_10' [i64]
 [
 	1395
 	371
 	121
 	1302
 	1246
 	1529
 	384
 	263
 	243
 	1512
 	57
 	11
 	...
 	0
 	15
 	15
 	76
 	4
 	37
 	25
 	3
 	100
 	0
 	22
 	21
 ],
 shape: (15857625,)
 Series: 'column_11' [f64]
 [
 	2.0011204114951e7
 	2.0011204115313e7
 	2.0011204115355e7
 	2.001120411543e7
 	2.0011204115721e7
 	2.0011204115947e7
 	2.001120412025e7
 	2.0011204120339e7
 	2.0011204120412e7
 	2.0011204120445e7
 	2.0011204120734e7
 	2.0011204120746e7
 	...
 	2.0030315151711e7
 	2.0030315151722e7
 	2.0030315151736e7
 	2.0030315151751e7
 	2.0030315151811e7
 	2.0030315151821e7
 	2.0030315151835e7
 	2.003031515185e7
 	2.0030315151904e7
 	2.0030315151926e7
 	2.0030315151938e7
 	2.0030315151954e7
 ],
 shape: (15857625,)
 Series: 'column_12' [f64]
 [
 	10.955403
 	23.326479
 	2.4442992
 	9.5218678
 	13.560424
 	47.679569
 	20.839916
 	4.8227081
 	13.18028
 	21.609955
 	2.6370063
 	1.1883326
 	...
 	0.0
 	2.1890168
 	3.1742811
 	5.9445848
 	1.104357
 	8.2811937
 	0.9883613
 	0.36134058
 	27.704205
 	0.0
 	2.8869646
 	20.22641
 ],
 shape: (15857625,)
 Series: 'column_13' [i64]
 [
 	2288071
 	2288071
 	2288071
 	2288071
 	2288071
 	2288071
 	2288071
 	2288071
 	2288071
 	2288071
 	2288071
 	2288071
 	...
 	4039022
 	4039022
 	4039022
 	4039022
 	4039022
 	4039022
 	4039022
 	4039022
 	4039022
 	4039022
 	4039022
 	4039022
 ],
 shape: (15857625,)
 Series: 'column_14' [f64]
 [
 	-2.8820264e-1
 	-2.4732992e-1
 	-3.9096078e-1
 	-2.9015437e-1
 	-2.5741839e-1
 	-2.2179361e-1
 	-2.3799685e-1
 	-2.0905563e-1
 	-3.0221173e-1
 	-2.6237243e-1
 	-2.592082e-1
 	-2.7256963e-1
 	...
 	-9.999e3
 	0.58988386
 	0.61662263
 	0.19124874
 	0.48641661
 	0.32777452
 	0.41132584
 	0.41090706
 	0.19975144
 	-9.999e3
 	0.39201835
 	0.33629146
 ],
 shape: (15857625,)
 Series: 'column_15' [f64]
 [
 	0.40731233
 	0.45591551
 	0.58953387
 	0.44602653
 	0.41968927
 	0.41279319
 	0.46584174
 	0.31556332
 	0.48555049
 	0.47709364
 	0.32376853
 	0.58346957
 	...
 	-9.999e3
 	0.3496688
 	0.32970524
 	0.14112818
 	0.36132827
 	0.41175932
 	0.37438136
 	0.50180197
 	0.42185241
 	-9.999e3
 	0.34393781
 	0.37793085
 ],
 shape: (15857625,)
 Series: 'column_16' [f64]
 [
 	10.559091
 	57.810596
 	167.75714
 	8.6443624
 	29.02236
 	6.5899963
 	7.9682536
 	-8.9918007e1
 	-3.6457486e0
 	-5.2208481e0
 	94.953995
 	16.86512
 	...
 	-9.999e3
 	-1.737509e2
 	-1.7352386e2
 	38.880924
 	-1.0976341e2
 	-1.6075871e1
 	-8.3766342e1
 	-2.8719168e1
 	47.199013
 	-9.999e3
 	-6.7804588e1
 	-2.6726954e1
 ]]

In [7]:
edf.columns

['column_1',
 'column_2',
 'column_3',
 'column_4',
 'column_5',
 'column_6',
 'column_7',
 'column_8',
 'column_9',
 'column_10',
 'column_11',
 'column_12',
 'column_13',
 'column_14',
 'column_15',
 'column_16']

In [8]:
edf[1] #first argument as integer always references the row

shape: (1, 16)
┌───────────┬───────────┬───────────┬───────────┬─────┬───────────┬──────────┬──────────┬──────────┐
│ column_1  ┆ column_2  ┆ column_3  ┆ column_4  ┆ ... ┆ column_13 ┆ column_1 ┆ column_1 ┆ column_1 │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆     ┆ ---       ┆ 4        ┆ 5        ┆ 6        │
│ i64       ┆ i64       ┆ i64       ┆ f64       ┆     ┆ i64       ┆ ---      ┆ ---      ┆ ---      │
│           ┆           ┆           ┆           ┆     ┆           ┆ f64      ┆ f64      ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═════╪═══════════╪══════════╪══════════╪══════════╡
│ 1         ┆ 1613423   ┆ 808       ┆ 2.0011015 ┆ ... ┆ 2288071   ┆ -2.47329 ┆ 0.455915 ┆ 57.81059 │
│           ┆           ┆           ┆ 222604e7  ┆     ┆           ┆ 92e-1    ┆ 51       ┆ 6        │
└───────────┴───────────┴───────────┴───────────┴─────┴───────────┴──────────┴──────────┴──────────┘

In [9]:
edf['column_1'] #first argument as string always references the column

shape: (15857625,)
Series: 'column_1' [i64]
[
	1
	1
	1
	4
	5
	3
	1
	2
	0
	3
	1
	0
	...
	0
	0
	1
	0
	0
	0
	0
	0
	0
	0
	0
	0
]

In [11]:
edf[1,2] #first integer refers to row number and second integer the column number

808

In [12]:
#slice by row and column names
edf[1:4, 'column_4':]

shape: (3, 13)
┌───────────┬───────────┬───────────┬───────────┬─────┬───────────┬──────────┬──────────┬──────────┐
│ column_4  ┆ column_5  ┆ column_6  ┆ column_7  ┆ ... ┆ column_13 ┆ column_1 ┆ column_1 ┆ column_1 │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆     ┆ ---       ┆ 4        ┆ 5        ┆ 6        │
│ f64       ┆ i64       ┆ i64       ┆ i64       ┆     ┆ i64       ┆ ---      ┆ ---      ┆ ---      │
│           ┆           ┆           ┆           ┆     ┆           ┆ f64      ┆ f64      ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═════╪═══════════╪══════════╪══════════╪══════════╡
│ 2.0011015 ┆ 1613424   ┆ 886       ┆ 0         ┆ ... ┆ 2288071   ┆ -2.47329 ┆ 0.455915 ┆ 57.81059 │
│ 222604e7  ┆           ┆           ┆           ┆     ┆           ┆ 92e-1    ┆ 51       ┆ 6        │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2.0011015 ┆ 1613424   ┆ 638       ┆ 0         ┆ ... ┆ 2288071   ┆ -3.90960 ┆ 0.589533 ┆ 167.7571 │
│ 222604e7  ┆           ┆           ┆           ┆     ┆           ┆ 78e-1    ┆ 87       ┆ 4        │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2.0011015 ┆ 1613424   ┆ 4259      ┆ 0         ┆ ... ┆ 2288071   ┆ -2.90154 ┆ 0.446026 ┆ 8.644362 │
│ 222604e7  ┆           ┆           ┆           ┆     ┆           ┆ 37e-1    ┆ 53       ┆ 4        │
└───────────┴───────────┴───────────┴───────────┴─────┴───────────┴──────────┴──────────┴──────────┘

In [30]:
edf.filter(col("column_16").is_null())

shape: (0, 16)
┌───────────┬───────────┬───────────┬───────────┬─────┬───────────┬──────────┬──────────┬──────────┐
│ column_1  ┆ column_2  ┆ column_3  ┆ column_4  ┆ ... ┆ column_13 ┆ column_1 ┆ column_1 ┆ column_1 │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆     ┆ ---       ┆ 4        ┆ 5        ┆ 6        │
│ i64       ┆ i64       ┆ i64       ┆ f64       ┆     ┆ i64       ┆ ---      ┆ ---      ┆ ---      │
│           ┆           ┆           ┆           ┆     ┆           ┆ f64      ┆ f64      ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═════╪═══════════╪══════════╪══════════╪══════════╡
└───────────┴───────────┴───────────┴───────────┴─────┴───────────┴──────────┴──────────┴──────────┘

In [31]:
left_df = pl.DataFrame({"a": [1, 2, 3], "b": [None, "b", "c"]})
right_df = pl.DataFrame({"a": [1, 2], "c": [42, 69]})
df = left_df.join(right_df, on="a", how="left")
df

shape: (3, 3)
┌─────┬──────┬──────┐
│ a   ┆ b    ┆ c    │
│ --- ┆ ---  ┆ ---  │
│ i64 ┆ str  ┆ i64  │
╞═════╪══════╪══════╡
│ 1   ┆ null ┆ 42   │
├╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 2   ┆ "b"  ┆ 69   │
├╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 3   ┆ "c"  ┆ null │
└─────┴──────┴──────┘

In [32]:
df.filter(col('c').is_null())

shape: (1, 3)
┌─────┬─────┬──────┐
│ a   ┆ b   ┆ c    │
│ --- ┆ --- ┆ ---  │
│ i64 ┆ str ┆ i64  │
╞═════╪═════╪══════╡
│ 3   ┆ "c" ┆ null │
└─────┴─────┴──────┘

In [33]:
df.describe()

shape: (5, 4)
┌──────────┬─────┬──────┬────────────────────┐
│ describe ┆ a   ┆ b    ┆ c                  │
│ ---      ┆ --- ┆ ---  ┆ ---                │
│ str      ┆ f64 ┆ str  ┆ f64                │
╞══════════╪═════╪══════╪════════════════════╡
│ "mean"   ┆ 2   ┆ null ┆ 55.5               │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "std"    ┆ 1   ┆ null ┆ 19.091883092036785 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "min"    ┆ 1   ┆ null ┆ 42                 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "max"    ┆ 3   ┆ null ┆ 69                 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "median" ┆ 2   ┆ null ┆ 55.5               │
└──────────┴─────┴──────┴────────────────────┘

In [34]:

df = pl.DataFrame(
    {
        "nrs": [1, 2, 3, None, 5],
        "names": ["foo", "ham", "spam", "egg", None],
        "random": np.random.rand(5),
        "groups": ["A", "A", "B", "C", "B"],
    }
)
df

shape: (5, 4)
┌──────┬────────┬─────────────────────┬────────┐
│ nrs  ┆ names  ┆ random              ┆ groups │
│ ---  ┆ ---    ┆ ---                 ┆ ---    │
│ i64  ┆ str    ┆ f64                 ┆ str    │
╞══════╪════════╪═════════════════════╪════════╡
│ 1    ┆ "foo"  ┆ 0.40361079813693734 ┆ "A"    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 2    ┆ "ham"  ┆ 0.10611617659592698 ┆ "A"    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 3    ┆ "spam" ┆ 0.9492231212822666  ┆ "B"    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ null ┆ "egg"  ┆ 0.6652807230059101  ┆ "C"    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 5    ┆ null   ┆ 0.1512065992477084  ┆ "B"    │
└──────┴────────┴─────────────────────┴────────┘

In [35]:
df.select(
    [
        pl.sum('nrs'),
        col('names').sort(),
        col('names').n_unique().alias('unique_1')
    ]
    )

shape: (5, 3)
┌─────┬────────┬──────────┐
│ nrs ┆ names  ┆ unique_1 │
│ --- ┆ ---    ┆ ---      │
│ i64 ┆ str    ┆ u32      │
╞═════╪════════╪══════════╡
│ 11  ┆ null   ┆ 5        │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 11  ┆ "egg"  ┆ 5        │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 11  ┆ "foo"  ┆ 5        │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 11  ┆ "ham"  ┆ 5        │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 11  ┆ "spam" ┆ 5        │
└─────┴────────┴──────────┘

In [36]:
# Select certain elements from a column by filtering from another
df.select(col('names').filter(col('random')>=0.4))

shape: (3, 1)
┌────────┐
│ names  │
│ ---    │
│ str    │
╞════════╡
│ "foo"  │
├╌╌╌╌╌╌╌╌┤
│ "spam" │
├╌╌╌╌╌╌╌╌┤
│ "egg"  │
└────────┘

In [38]:
#Complex expressions are also possible
# All expressions in Polars are embarassingly parallel by design and thus automatically parallelized
df.select(
    [
            (pl.sum('nrs') * pl.when(col('random')>0.5)
                .then(0)
                .otherwise(col('random'))
            ).alias('result')
    ]
    )

shape: (5, 1)
┌────────────────────┐
│ result             │
│ ---                │
│ f64                │
╞════════════════════╡
│ 4.439718779506311  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1.167277942555197  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 0.0                │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 0.0                │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1.6632725917247924 │
└────────────────────┘

In [39]:
df = pl.read_csv("https://theunitedstates.io/congress-legislators/legislators-current.csv")

In [40]:
pdf = df.to_pandas()

In [41]:
(df.lazy()
     .groupby("first_name")
     .agg(
         [
             col("party").count().alias("n_party"),
             col("gender").list(),
             col("last_name").first()
         ]
     )
     .sort("n_party", reverse=True)
     .limit(5)
     .collect()
)

shape: (5, 4)
┌────────────┬─────────┬─────────────────┬─────────────────┐
│ first_name ┆ n_party ┆ gender_agg_list ┆ last_name_first │
│ ---        ┆ ---     ┆ ---             ┆ ---             │
│ str        ┆ u32     ┆ list [str]      ┆ str             │
╞════════════╪═════════╪═════════════════╪═════════════════╡
│ "John"     ┆ 19      ┆ [M, M, ... M]   ┆ "Barrasso"      │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "Mike"     ┆ 12      ┆ [M, M, ... M]   ┆ "Kelly"         │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "Michael"  ┆ 11      ┆ [M, M, ... M]   ┆ "Bennet"        │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "David"    ┆ 11      ┆ [M, M, ... M]   ┆ "Cicilline"     │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ "James"    ┆ 9       ┆ [M, M, ... M]   ┆ "Inhofe"        │
└────────────┴─────────┴─────────────────┴─────────────────┘

In [45]:
df.to_csv(Path('./legislators-current.csv'))

In [46]:
!ls

big.csv			 pandas_polars.ipynb  requirements.txt
legislators-current.csv  README.md	      testsetup.py